---
import '../styles/globals.css';
export interface Props {
  title?: string;
  description?: string;
}
const { title = 'khrotu', description = "i'd like to think i'm a relatively competent dev; dabbles in ai/ml now and then" } = Astro.props;
---
<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preload" href="/fonts/HyperlegibleSans-Regular.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/HyperlegibleSans-Bold.woff2" as="font" type="font/woff2" crossorigin />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body class="selection:bg-white/20">
    <slot />
  </body>
</html>